
    <div class="container-fluid bg">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="padding-left: 310px;">
                <i style='font-size:24px' class='fab'>&#xf082;</i>&nbsp;&nbsp;

                <i style='font-size:24px' class='fab'>&#xf08c;</i>&nbsp;&nbsp;

                <i style='font-size:24px' class='fab'>&#xf16d;</i>&nbsp;&nbsp;

                <i style='font-size:24px' class='fab'>&#xf081;</i><br><br>
                <h5 style="text-align: center;padding-right: 350px;font-size: larger;">&copy; Copywrite Dista. All Rights Reserved<br> Designed By bharti.nehul07@gmail.com
                </h5>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

